<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css" />
    <title>About</title>
</head>

<body>
    <h1>About</h1>
    <img
        src="https://upload.wikimedia.org/wikipedia/commons/b/b4/Lionel-Messi-Argentina-2022-FIFA-World-Cup_%28cropped%29.jpg">
    <p>Lionel Messi is an Argentinian soccer player who has played for FC Barcelona, Paris Saint-Germain, and the
        Argentina national team. As a teenager, Messi moved from Argentina to Spain after FC Barcelona agreed to pay for
        medical treatments related to his growth hormone disorder. At the club, he earned renown as one of the greatest
        players in history, helping FC Barcelona win more than two dozen league titles and tournaments. In 2012, he set
        a record for most goals in a calendar year and, a decade later, helped the Argentina national team win its third
        FIFA World Cup. The seven-time Ballon dOr winner moved to Paris Saint-Germain in 2021, and in July 2023, he
        joined MLS Inter Miami club.</p>
    <nav>
        <a href="/home">Home</a>
        <a href="/works">Works</a>
        <a href="/gallery">Gallery</a>
    </nav>

</body>

</html>