<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css" />
    <title>Home</title>
</head>

<body>
    <h1>Welcome to the Messi Experience</h1>
    <p>2022 World Champion</p>
    <img width="500px" src="https://encrypted-tbn0.gstatic.com/licensed-image?q=tbn:ANd9GcQ2RRIqs6MqnQR181DRcWRGxeJql9FVildnyF0uu48OZ7MN62g93ZeNAtwVxS_8djQC7Hgc3aAOJD55kbk">
    <nav>
        <a href="/about">About</a>
        <a href="/works">Works</a>
        <a href="/gallery">Gallery</a>
    </nav>

</body>

</html>