<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css" />
    <title>Works</title>
</head>

<body>
    <h1>Milestones</h1>
    <p>
        <ol>
        <li>Champions League records</li>
        <li>Most Champions League group stage goals: 80 (71 for Barcelona)</li>
            <li>Most Champions League round of 16 goals: 29</li>
                <li> Most Champions League goals for one club: 120 (Barcelona)</li>
                    <li>Most successive seasons scoring in Champions League: 18</li>
                        <li>Messi's Liga records</li>
                            <li> Most Liga goals: 474</li>
                                <li>Most Liga goals in a single season: 50 (2011/12)</li>
                                    <li>Most Liga hat-tricks: 36</li>
                                        <li>Most Liga titles won by foreign player: 10</li>
                                            <li>Messi's individual honours</li>
                                                <li>Most Ballon d'Or awards: 7</li>
                                                    <li>Most ESM Golden Shoes: 6</li>
                                                        <li>Messi's other club records</li>
                                                            <li>Most goals in calendar year: 79 in 2012 (91 including goals for Argentina)</li>
                                                                <li>Most UEFA club competition goals for single club: 123 (Barcelona)</li>
    </ol>
    </p>
    <nav>
        <a href="/about">About</a>
        <a href="/home">Home</a>
        <a href="/gallery">Gallery</a>
    </nav>

</body>

</html>